{% extends 'base.html.twig' %}

{% block title %}Jupe Réversible | Femme{% endblock %}

{% block body %}
<main class="py-4 mt-5 container">
        <h1 class="text-center highlight mb-5">CATALOGUE FEMME</h1>
        <div class="col-12 my-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 text-center text-md-left">
                    <img alt="Haut femme" class="img-fluid img-container" src="{{ asset('assets/images/catégories/femme/hauts-femme.png') }}"
                         style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-8 mt-3 order-2 text-center text-md-left">
                    <h2 class="highlight">HAUT FEMME</h2>
                    <p class="my-4">PACAP : vêtement femme, Haut, Débardeur, Top, Boléro, Bustiers, Cache-Cœur, Dos Nu, Cœur Croisé. Coton lycra stretch, broderie viscose, rayonne, dentelle.</p>
                    <a href="https://pacap-detail.fr/fr/1520-haut-femme" class="btn text-white">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 order-md-2 text-center text-md-right">
                    <img alt="Pantalon femme" class="img-fluid img-container" src="{{ asset('assets/images/catégories/femme/PANTALON.png') }}"
                         style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-7 mt-3 order-2 order-md-1 text-center text-md-right">
                    <h2 class="highlight">PANTALON FEMME</h2>
                    <p class="my-4">Notre collection de pantalons femme comprend différents types de tissus, imprimés et coupes. Pantalons confortables, fluides, Palazzo, combinaisons, combi-sarouels.</p>
                    <a href="https://pacap-detail.fr/fr/1519-pantalon-femme" class="btn text-white">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 text-center text-md-left">
                    <img alt="Robe femme" class="img-fluid img-container" src="{{ asset('assets/images/catégories/femme/Robe femme.png') }}"
                         style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-8 mt-3 order-2 text-center text-md-left">
                    <h2 class="highlight">ROBE FEMME</h2>
                    <p class="my-4">Robe courte, moyenne et midi, ou longue et maxi. Robe cintrée, évasée, transformable, avec plus de 200 motifs et couleurs. Coton, rayonne, viscose, soie. Chic et pas chère.</p>
                    <a href="https://pacap-detail.fr/fr/1538-Vetement-femme-robe-imprimee" class="btn text-white">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 order-md-2 text-center text-md-right">
                    <img alt="Combi-sarouel femme" class="img-fluid img-container" src="{{ asset('assets/images/catégories/femme/combi-raouel.png') }}"
                         style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-7 mt-3 order-2 order-md-1 text-center text-md-right">
                    <h2 class="highlight">COMBI-SAROUEL FEMME</h2>
                    <p class="my-4">Collection femme : vêtement ethnique et original. Combinaison et salopette sarouel ample, large, confortable, agréable, modulable et transformable.</p>
                    <a href="https://pacap-detail.fr/fr/1671-salopette-sarouel-combinaison" class="btn text-white">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 text-center text-md-left">
                    <img alt="Jupe longue femme" class="img-fluid img-container" src="{{ asset('assets/images/catégories/femme/jupeLongue.jpg') }}"
                         style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-8 mt-3 order-2 text-center text-md-left">
                    <h2 class="highlight">JUPE LONGUE FEMME</h2>
                    <p class="my-4">Les jupes midi pas chères, pleines de motifs, longues jupes qui tombent aux chevilles. Taille ajustable. Collection femme du 34 au 46 et grande taille du 44 au 56.</p>
                    <a href="https://pacap-detail.fr/fr/1717-jupe-longue-midi-maxi-viscose-femme" class="btn text-white">Découvrir</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
