{% extends 'base.html.twig' %}
{% block meta_description %}Différents catalogues : homme, femme, enfant, grande taille, taille gourmande, pour tous les prix et toutes les tailles. Petits prix, pas cher.{% endblock %}
{% block meta_keywords %}jupe petite fille, jupe pour bebe, robe fillette, jupon fille, jupe adolescente, jupe portefeuille fille, jupe boutonnée pour fillette{% endblock %}

{% block title %}Jupe Réversible | Catalogue{% endblock %}

{% block body %}
<main class="py-4 mt-5 container">
        <h1 class="text-center highlight mb-5">CATÉGORIES</h1>
        <div class="col-12 my-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 text-center text-md-left">
                    <img alt="chemise homme" class="img-fluid img-container"
                            src="{{ asset('assets/images/catégories/vetement-homme.png') }}"
                            style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-8 mt-3 order-2 text-center text-md-left">
                    <h2 class="highlight">VÊTEMENT HOMME</h2>
                    <p class="my-4">Vous cherchez une chemise homme aux motifs originaux, atypiques et colorés ? Vous cherchez un kilt pour homme ? Vous êtes au bon endroit, cliquez sur le lien suivant.</p>
                    <a href="{{ path('app_homme') }}" class="btn text-white">VOIR</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 order-md-2 text-center text-md-right">
                    <img alt="vêtements femme" class="img-fluid img-container"
                            src="{{ asset('assets/images/catégories/femme.png') }}"
                            style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-7 mt-3 order-2 order-md-1 text-center text-md-right">
                    <h2 class="highlight">VÊTEMENT FEMME</h2>
                    <p class="my-4">Vêtement femme ethnique : jupe réversible portefeuille, pièces uniques, taille unique réglable, robe, haut, top, boléro, cœur croisé, veste kimono, combi-sarouel.</p>
                    <a href="{{ path('app_femme') }}" class="btn text-white">VOIR</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 text-center text-md-left">
                    <img alt="vêtements enfant" class="img-fluid img-container"
                            src="{{ asset('assets/images/catégories/enfant.png') }}"
                            style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-8 mt-3 order-2 text-center text-md-left">
                    <h2 class="highlight">VÊTEMENT ENFANT</h2>
                    <p class="my-4">Collection pitchoune avec des jupes réversibles et robes en coton. Taille unique.</p>
                    <a href="{{ path('app_enfant') }}" class="btn text-white">VOIR</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 order-md-2 text-center text-md-right ">
                    <img alt="vêtements taille gourmande" class="img-fluid img-container"
                            src="{{ asset('assets/images/catégories/grandeTaille.png') }}"
                            style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-7 mt-3 order-2 order-md-1 text-center text-md-right">
                    <h2 class="highlight">VÊTEMENT GRANDE TAILLE</h2>
                    <p class="my-4">Vêtement ethnique chic et moderne pas cher pour femme forte ou enceinte. Taille unique : jupe réversible portefeuille avec de nombreux motifs et imprimés.</p>
                    <a href="{{ path('app_grandeTaille') }}" class="btn text-white">VOIR</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 text-center text-md-left">
                    <img alt="bijoux" class="img-fluid img-container"
                            src="{{ asset('assets/images/catégories/bijoux.png') }}"
                            style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-8 mt-3 order-2 text-center text-md-left">
                    <h2 class="highlight">BIJOUX</h2>
                    <p class="my-4">Collection d'accessoires avec des bagues et boucles d'oreilles ethniques, housses de coussin et coffrets en bois de qualité.</p>
                    <a href="{{ path('app_bijoux') }}" class="btn text-white">VOIR</a>
                </div>
            </div>
        </div>
        <div class="col-12 my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 order-1 order-md-2 text-center text-md-right">
                    <img alt="sac sari" class="img-fluid img-container"
                            src="{{ asset('assets/images/catégories/tissus-sarie-accessoire.png') }}"
                            style="max-height: 300px; height: auto; width: 300px;">
                </div>
                <div class="col-12 col-md-7 mt-3 order-2 order-md-1 text-center text-md-right">
                    <h2 class="highlight">ACCESSOIRE</h2>
                    <p class="my-4">Sac sari, poche sari, sari, sac de plage.</p>
                    <a href="{{ path('app_accessoires') }}" class="btn text-white">VOIR</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
